extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Mauris egestas neque ex, id maximus tortor aliquet at. Vivamus vitae condimentum velit. Nulla auctor arcu felis, nec eleifend neque convallis pellentesque. Aliquam id aliquam felis.
                p Nullam rutrum aliquet nulla rhoncus laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse laoreet, tortor vel scelerisque convallis, erat erat viverra tellus, et porttitor lectus purus non augue. Morbi feugiat leo vel ex finibus aliquam. Phasellus cursus tortor sed velit luctus, accumsan porttitor sem suscipit. Suspendisse interdum feugiat enim vel auctor. Sed sit amet augue id arcu efficitur sollicitudin non eget felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nec tempor ligula.
                p Nullam porttitor nisl nulla, eleifend venenatis orci suscipit pulvinar. Nam faucibus lacus nec finibus facilisis. Suspendisse imperdiet augue vitae mauris semper, blandit volutpat felis posuere.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nunc eget lorem tortor. Duis aliquam condimentum lectus, eget malesuada odio tempus quis. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nunc eget lorem tortor. Duis aliquam condimentum lectus, eget malesuada odio tempus quis. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Nunc eget lorem tortor. Duis aliquam condimentum lectus, eget malesuada odio tempus quis. 